<?xml version="1.0"?>
<!--
/**
 * LaPoste_ExpeditorINet
 * 
 * @category    LaPoste
 * @package     LaPoste_ExpeditorINet
 * @copyright   Copyright (c) 2010 La Poste
 * @author         Smile (http://www.smile.fr) & Jibé
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <LaPoste_ExpeditorINet>
            <version>1.0.8</version>
            <depends>
                <Mage_Sales />
                <Mage_Adminhtml />
            </depends>
        </LaPoste_ExpeditorINet>
    </modules>

    <global>
        <models>
            <expeditorinet>
                <class>LaPoste_ExpeditorINet_Model</class>
            </expeditorinet>
        </models>

        <blocks>
            <expeditorinet>
                <class>LaPoste_ExpeditorINet_Block</class>
            </expeditorinet>
        </blocks>

        <helpers>
            <expeditorinet>
                <class>LaPoste_ExpeditorINet_Helper</class>
            </expeditorinet>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <expeditorinet after="Mage_Adminhtml">LaPoste_ExpeditorINet_Adminhtml</expeditorinet>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <expeditorinet>
                    <files>
                        <default>LaPoste_ExpeditorINet.csv</default>
                    </files>
                </expeditorinet>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <expeditorinet>
            <export>
                <file_extension>.txt</file_extension>
                <file_charset>ISO-8859-1</file_charset>
                <endofline_character>lf</endofline_character>
                <field_delimiter>double_quotes</field_delimiter>
                <field_separator>;</field_separator>
            </export>

            <import>
                <default_tracking_title>So Colissimo</default_tracking_title>
                <send_email>1</send_email>
                <shipping_comment></shipping_comment>
                <include_comment>0</include_comment>
                <carrier_code>socolissimosimplicite_socolissimosimplicite</carrier_code>
            </import>

            <pickup_point_codes>
                <A2P />
                <ACP />
                <BDP />
                <BPR />
                <CDI />
                <CIT />
                <CMT />
                <MRL />
            </pickup_point_codes>
        </expeditorinet>
    </default>
</config>
